<header>
  <div id="menu">
    <ul>
      <li>
        <a [routerLink]="['/home']" class="current">
          <img src="/assets/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      
      <li>
        <div class="search-bar">
          <input
            type="text"
            [(ngModel)]="tituloBusqueda"
            placeholder="Escribe el título del libro"
            (keyup.enter)="buscarLibros()"
          />
          <button (click)="buscarLibros()">
            <i class="fas fa-search"></i>
          </button>
          
          <div *ngIf="resultadosVisible" class="resultados-libros">
            <ul>
              <li 
                *ngFor="let libro of libros" 
                class="resultado-libro" 
                (click)="irAInformacionLibro(libro.key)"
                (keydown.enter)="irAInformacionLibro(libro.key)"
                tabindex="0">
                <strong>{{ libro.title }}</strong>
                <span *ngIf="libro.author_name"> - {{ libro.author_name.join(', ') }}</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li><a [routerLink]="['/empresa']">Empresa</a></li>
      <li><a [routerLink]="['/contacto']">Contacto</a></li>

      <li 
        *ngIf="!usuarioLogueado" 
        (click)="toggleSesionMenu()"
        (keydown.enter)="toggleSesionMenu()"
        tabindex="0"
        class="user-login">
        <a>Hola, Inicia Sesión</a>
        <div *ngIf="sesionMenuVisible" class="sesion-menu">
          <p><a [routerLink]="['/sign-in']">Iniciar sesión</a></p>
          <p><a [routerLink]="['/sign-up']">Registrarse</a></p>
        </div>
      </li>  

      <li 
        *ngIf="usuarioLogueado"
        (click)="toggleSesionMenu()"
        (keydown.enter)="toggleSesionMenu()"
        tabindex="0"
        class="user-login">
        <a>Hola, {{ usuarioLogueado }}</a>
        <div *ngIf="sesionMenuVisible" class="sesion-menu">
          <p><a [routerLink]="['/perfil']">Mi Perfil</a></p>
          <p><a (click)="cerrarSesion()">Cerrar sesión</a></p>
        </div>
      </li>

      <li>
        <a [routerLink]="['/cart']" class="cart-icon">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>
  </div>

  <div id="header">
    <div id="special_offers">
      <p><span>25%</span> de descuento en compras superiores a 80.000$</p>
      <a href="#">Leer más...</a>
    </div>
    
    <div id="new_books">
      <ul>
        <li>Suspenso</li>
        <li>Misterio</li>
        <li>Ficción</li>
      </ul>
      <a href="#">Leer más...</a>
    </div>
  </div>
</header>
